body {
    background-image: url(BW.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

div {
    color: black;
    text-shadow: 3px 3px yellow;
    text-decoration: underline;
    text-align: right;
    font-family: "Pacifico";
    font-size: 2em;
}

p {
    font-size: 8em; color: black;
    font-family: "CityScape";
    font-variant-caps: small-caps;
    text-align: center;
    text-decoration: overline underline;
    text-shadow: 3px 3px rgb(242, 235, 45);
}


img {
    border-style: solid;
    border-color: rgb(61, 121, 167);
    border-width: 10px;
}

img.CN {
    border-style: solid;
    border-color: rgb(61, 121, 167);
    border-width: 10px;
    width: 800px;
    height: auto;
}

img.TD {
    border-style: solid;
    border-color: rgb(61, 121, 167);
    border-width: 10px;
    width: 800px;
    height: auto;
}

img.Union {
    border-style: solid;
    border-color: rgb(61, 121, 167);
    border-width: 10px;
    width: 800px;
    height: auto;
}

figure {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: x-large;
}


figcaption {
    caption-side: bottom;
    color:white;
    text-shadow: 1px 1px rgb(4, 4, 0);
    font-size: 2em;
    font-family: "Dunton"
}
    
footer {
    font-size: 350%; color: yellow;
    font-family: "Photography";
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px rgb(4, 4, 0);
}


@font-face {
    font-family: "Pacifico";
    src: url(Fonts/Pacifico-Regular.ttf);
}


@font-face {
    font-family: "CityScape";
    src: url(Fonts/cityscape\ font.ttf)
}


@font-face {
    font-family: "Dunton";
    src: url(Fonts/DuntonWriting.ttf);
}

@font-face {
    font-family: "Photography";
    src: url(Fonts/Photography.ttf);
}

